.grave {
    display: grid;
    border-width: 1px;
    border-style: solid;
    border-color: aqua;
    width: 100%;
    aspect-ratio : 1 / 1;
    overflow: hidden;
    font-size: 1vw;
    background-color: lightgray;
}

.grave_wall {
    display: grid;
    border-width: 1px;
    border-style: solid;
    border-color: aqua;
    aspect-ratio : 1 / 1;
    width: 100%;
    background-color: black;
}

.grave__plotlevel {
    background-color: darkgray;
    height: min-content;
}