.graveyard__layout {
    display:grid;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    width: 70vw;
    height: 30vw;
    background-color: grey;
    color:red;
    justify-items: stretch;
    align-items: center;
    grid-template-columns: repeat(19, 1fr);
}

