.graveyard__layout {
    min-width: 360px;
    display:grid;
    width: 70vw;
    height: fit-content;
    align-items: start;
    grid-template-columns: repeat(17, 1fr);
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    justify-content: start;
    
}

