.graveyard__layout {
    display:grid;
    width: 70vw;
    height: 30vw;
    background-color: grey;
    justify-items: stretch;
    align-items: center;
    grid-template-columns: repeat(17, 1fr);
}

